<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="{% static 'js/bootstrap.min.js'%}"></script>
	<script src="{% static 'js/bootbox.min.js'%}"></script>
	<script>
	$(document).ready(function(){
		bootbox.alert("Your reservation has been saved", function(){ window.location.href = "http://localhost:8000"; });
		
	});
	</script>
</head>
</html>